doctype html
html
  head
    link(rel="icon" type="image/png" href=require("Assets/favicon.png"))
    link(rel="stylesheet" href=require("Style/style.scss"))
  body
    h1 pug template
    script(type="module" src=require("Script/index.js"))
